<a routerLink="">
    <button pButton type="button" label="Volver" icon="fas fa-undo"></button>
</a>

<hr style="border-top:0px;border-color:white">

<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:2px">
                <p>{{article.title}}</p>         
            </span>
        </div>
    </p-header>
    <div [innerHTML]="article.text"></div>
</p-panel>

<hr style="border-top:10px;border-color:white">

<p-panel>
    <p-header> <b>Nuevo Comentario </b></p-header>
    <input id="float-input" type="text" pInputText placeholder="Nombre" [(ngModel)]="commenter">
    <hr style="border-top:10px;border-color:white">
    <p-editor [style]="{'height':'320px'}" [(ngModel)]="body"></p-editor>
    <p-growl [(value)]="msgs"></p-growl>
    <hr style="border-top:10px;border-color:white">
    <button pButton type="button" icon="fa-plus" label="Enviar comentario" class="ui-button-success" (click)="createComment()"></button>
</p-panel>

<hr style="border-top:10px;border-color:white">

<p-panel>
    <p-header>
        <button pButton type="button" icon="fa-list" label="Mostrar comentarios" class="ui-button-info" (click)="getComments()"></button>
    </p-header>
    <hr style="border-top:0px;border-color:white">
    <tr *ngFor="let comment of comments">
        <p-panel header={{comment.commenter}} [toggleable]="true" [style]="{'margin-bottom':'20px'}">        
            <div [innerHTML]="comment.body"></div>
            <p-footer>
                <button pButton type="button" icon="fa-trash" label="Eliminar" class="ui-button-danger" (click)="deleteComment(comment.id)"></button>
            </p-footer>
        </p-panel>
    </tr>
</p-panel>