 <a routerLink="">
    <button pButton type="button" label="Volver" icon="fas fa-undo"></button>
  </a>
<hr style="border-top:0px;border-color:white">
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:20px;display:inline-block;margin-top:2px">
                <p>{{article.title}}</p>         
            </span>
        </div>
    </p-header>
    	{{article.text}}
    <p-footer>
    </p-footer>
</p-panel>

<input id="float-input" type="text" size="auto" pInputText placeholder="Nombre" [(ngModel)]="commenter">
<hr style="border-top:100px;border-color:white">
<p-editor id="float-input" type="text" size="auto" pInputText placeholder="Escribe un comentario..." [(ngModel)]="body">

</p-editor>
        <button pButton type="button" icon="fa-plus" label="Enviar comentario" class="ui-button-success" 
(click)="createComment()"

        ></button>
<p-panel >
        <button pButton type="button" icon="fa-list" label="Mostrar comentarios" class="ui-button-info" (click)="getComments()"></button>
        <hr style="border-top:0px;border-color:white">
        <tr *ngFor="let comment of comments">
                <p-panel header={{comment.commenter}} [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                    {{comment.body}}
                </p-panel>
        </tr>
</p-panel>