.btn-default.btn-on.active {
    background-color: #5BB75B;
    color: white;
}
.btn-default.btn-off.active {
    background-color: #DA4F49;
    color: white;
}

.databable-largecolumn {
        word-wrap: break-word;
        max-width: 400px;
        white-space:normal;
}